//extend
.w_f {
    width: 50%;
    float: left;
}

.h2 {
    font-size: 3rem;
    color: #fff;
}

.span {
    display: block;
    width: 40px;
    height: 2px;
    background-color: $primaryColor;
    margin: 1rem auto;
}

.p {
    margin: 1.5rem 0;
    color: $secondaryColor;
    line-height: 1.5;
    letter-spacing: 1px;
}

.button {
    background-color: $primaryColor;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    padding : 10px 20px;
    font-weight: bold;
    cursor: pointer;
    @include trans;

    &:hover {
        background-color: #fff;
        color: $primaryColor;
    }
}

