@include Sm{
    header  {
        text-align: center;
        position: static;

        .logo {
            float: none;
            width: 100%;
        }

        ul {
            float: none;
            display: block;
            width: 100%;
        }
    }

    .h2 {
        font-size: 1.5rem;
    }

    .service {
        .service-content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .images {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include Xs {
    .h2 {
        font-size: 1rem;
    }
    .p {
        font-size: .5rem;
    }

    .button {
        padding: 5px;
    }

    .service {
        .service-content {
            grid-template-columns: 1fr;
        }
    }

    .images {
        grid-template-columns: 1fr;
    }
}



